body {
    background-color: #eef2f3;
    font-family: Arial;
}

.box {
    width: 450px;
    margin: auto;
    margin-top: 50px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

input, button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}

button {
    background-color: #2ecc71;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}
